body {
  background-color: rgb(125, 148, 150);
}

#picture-container {
  position: relative;
}

#clickable-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}