body {
  background-color: rgb(255, 255, 255);
}

#picture-container {
  position: relative;
}

#clickable-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

#field-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#field-buttons button {
  width: 100%;
  height: 40px;
  background-color: rgb(216, 216, 216); /* Set default background color */
  color: cornflowerblue; /* Set text color */
  border: none; /* Remove default button border */
  text-align: center; /* Center the text horizontally */
  text-decoration: none; /* Remove default underline */
  display: inline-block; /* Make the button a block element */
  font-size: 16px; /* Set font size */
  cursor: pointer; /* Show pointer cursor on hover */
  border-radius: 10px; /* Set border radius to make the button rounded */
  margin: 5px;

  font-family: Verdana;
  font-weight: bolder;
  font-family: 30px;
}

#field-buttons button.active {
  background-color: cornflowerblue;
  color: rgb(216, 216, 216)
}