body {
  background-color: rgb(255, 255, 255);
}

#picture-container {
  position: relative;
}

#clickable-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

#field-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#field-buttons button {
  width: 100%;
  height: 40px;
  background-color: rgb(216, 216, 216);
  color: cornflowerblue;
  border: none;
  display: inline-block;
  border-radius: 10px;
  margin: 5px;

  text-align: center;
  text-decoration: none;
  font-family: Verdana;
  font-weight: bolder;
  font-size: 30px;
}

#field-buttons button.active {
  background-color: cornflowerblue;
  color: rgb(216, 216, 216)
}