#field-container {
  position: relative;
  width: 100%;
  height: auto;
}

#field-buttons {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#field-buttons button {
  width: 100%;
  height: 90px;
  background-color: rgb(216, 216, 216);
  color: cornflowerblue;
  border: none;
  display: inline-block;
  border-radius: 10px;
  margin: 5px;

  text-align: center;
  text-decoration: none;
  font-family: Verdana;
  font-weight: bolder;
  font-size: 44px;
}

#field-buttons button.active {
  background-color: cornflowerblue;
  color: rgb(216, 216, 216)
}

#field {
  position: relative;
  width: 100%;
  height: auto; /*set later in js*/
}

#undo {
  width: 100%;
  height: 90px;
  background-color: rgb(216, 216, 216);
  color: cornflowerblue;
  border: none;
  display: inline-block;
  border-radius: 10px;
  margin: 5px;

  text-align: center;
  text-decoration: none;
  font-family: Verdana;
  font-weight: bolder;
  font-size: 44px;
}

#undo:active {
  background-color: cornflowerblue;
  color: rgb(216, 216, 216)
}